.content {
  grid-area: 'content';

  margin: 15px;
}

.content__container {
  margin: 0 auto;
  max-width: 1440px;
  text-align: center;
}
.card__section_text {
  justify-content: center;
}

.card__section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
