.button__absence {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(54, 53, 53);
  text-decoration: none;
  padding: 0.5em 2em;
  outline: none;
  border-style: solid none;
  border-color: #858483 #000;
  border-radius: 6px;
  background: linear-gradient(#d6d5d3, #cecdcc);
  transition: 0.2s;
}
.button__absence:hover {
  background: linear-gradient(#dad9d7, #eeeded);
}
.button__absence:active {
  background: linear-gradient(#727271, #92908a);
}

.footer__text {
  font-weight: 500;
}

.button__absence_active {
  display: none;
}

.footer__text_active {
  margin-top: 60px;
  color: red;
  font-weight: 600;
}
