.header {
  grid-area: 'header';
  background: linear-gradient(#f3ae0f, #e38916) #e38916;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 60px;
}
